.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information {
    margin-bottom: 0 !important;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.user-block {
    display: block;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
}

.avatar-icon {
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.avatar-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-left-width: 5px;
    margin-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-follow {
    width: 95px;
    height: 30px;
}

#img-upload {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

section {
    display: flex;
    flex-flow: column;
    height: 400px;
    overflow-x: hidden;
}

.chat-window {
    flex: 2;
    /*overflow: auto;*/
    list-style-type: none;
}

footer {
    min-height: 60px;
}

.discussion li {
    display: flex;
}

.avatar-msg {
    width: 40px;
    height: 40px;
}

.avatar-msg img {
    width: 100%;
    display: block;
    margin-right: 15px;
}

.message {
    padding: 10px;
    border-radius: 2px;
}

.self .message {
    background: lightgreen;
}

.other .message {
    background: lightblue;
}

.message-row {
    margin-bottom: 20px;
}

time {
    font-size: 0.7rem;
    color: olive;
}

.chat-username {
    font-size: small;
    font-family: Courier New, serif;
    font-weight: bold;
}

.container .panel .error-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}